em {
    color: red;
    background-color: yellow;
}

#hsearchText {
    width: 100px !important;
    font-size: 18px !important;
}

#hadith-options {
    height: 34px;
    width: 280px;
}

input[type="reset"]+input[type="text"]:empty {
    display: none;
}

input[type="reset"] {
    background-image: url(images/cleartxt.png );
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: -20px;
    left: -26px;
}

.hadithDiv {
    display: block;
    padding: 6px;
}

.hadithDiv div {
    display: block;
    padding-bottom: 6px;
    font-size: 18px;
}