/*
	Author: munawwar_ali@yahoo.com
*/
.title {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	vertical-align: center;
	}

.right {
	float: right;
	justify-content: top;
}

.right img {
	float: right;
	justify-content: top;
}

.left {
	justify-content: top;
}
	
.middle {
	font-color: gray;
	font-size: 11px;
	margin-left: 250px;
	justify-content: top;
	align-items: center;
}
	
.middle input[type=text]{
	justify-content: top;
	align-items: center;
	border-radius: 10px;
	border: 1px solid #2d9fd9;
	color: #a0d18c;
	width: 400px;
	height: 30px;
	padding-left: 10px;
}
	
.middle input[type=text]:focus{
  outline: none;
  border: 2px solid #2d9fd9;
  color: #2d9fd9;
}

.middle img {
  width: 20px;
  margin-top: 0px;
  line-height:28px;
  vertical-align:middle;
}

.middle img:hover {
  cursor: pointer;
}
	
.chapter-padding {
	padding: 0px;
}
	
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%
}

/* Floating divs */
.chapter-card {
	  float: left; 
	  padding: 8px;
	  margin: 10px;
	  box-sizing: border-box; 
	  background-color: lightblue; 
	  border: 2px solid lightgray;
	  border-radius: 25px;
	  cursor: pointer;
	  text-align: center;
}

.chapter-card:hover {
	  margin: 10px;
	  border: 2px solid indigo;
	  border-radius: 25px;
	  box-shadow: 1px 1px;
	  cursor: pointer;
	  text-align: center;
	  
}

.chapter-card:hover .subnav-content  {
  display: flex;
}

.subnav-content {
	display: none;
	flex-wrap: wrap;
	position: absolute;
	padding: 4px;
	width: 300px;
	background-color: lightblue;
	margin-top: 10px;
	margin-left: -72px;
	border: 2px solid lightgray;
	border-radius: 12px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.subnav-content .subNav {
	width: 100px;
	background-color: lightblue;
	padding: 6px;
	z-index: 1;
}

.subnav-content .subNav:hover {
	background-color: gray;
	width: 100px;
	font-weight:: bold;
	padding: 6px;
	color: white;
	z-index: 1;
}

.tooltip {
  position: relative;
  display: flex;
  padding: 5px 5px;
}

.tooltip+.tooltiptext {
  display: none;
  flex-wrap: wrap;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;
  margin-top: 22px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover+.tooltiptext {
  display: flex;
}

.tooltiptext:hover {
  display: flex;
}

div+select {
	display: none;
}